<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Admins</servlet-name>
		<servlet-class>sanjose.AdminsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>community</servlet-name>
		<servlet-class>sanjose.CommunityServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>home</servlet-name>
		<servlet-class>sanjose.HomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>mail</servlet-name>
		<servlet-class>sanjose.MailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>post</servlet-name>
		<servlet-class>sanjose.PostServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>system</servlet-name>
		<servlet-class>sanjose.SystemServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>tools</servlet-name>
		<servlet-class>sanjose.ToolsServlet</servlet-class>
	</servlet>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.css</welcome-file>
		<welcome-file>index.js</welcome-file>
	</welcome-file-list>

	<servlet-mapping>
		<servlet-name>Admins</servlet-name>
		<url-pattern>/admins/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>community</servlet-name>
		<url-pattern>/community/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>home</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mail</servlet-name>
		<url-pattern>/mail/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>post</servlet-name>
		<url-pattern>/post/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>system</servlet-name>
		<url-pattern>/system/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>tools</servlet-name>
		<url-pattern>/tools/*</url-pattern>
	</servlet-mapping>
</web-app>
